# A sample logging config file. This does the same thing as the default
# Boodler logging. To use this, modify it to suit your needs and then run
# Boodler --logconfig logging.config
#
# Note that if you use the --logconfig option, you will always get verbose
# error messages; the --verbose option is assumed to be true.
#
# The logging configuration file format is defined in the Python docs:
# http://docs.python.org/library/logging.html#configuration-file-format

[loggers]
keys=root

[handlers]
keys=defhand

[formatters]
keys=defform

[logger_root]
level=WARNING
handlers=defhand

[handler_defhand]
class=StreamHandler
level=NOTSET
formatter=defform
args=(sys.stderr,)

[formatter_defform]
format=%(asctime)s (%(name)s) %(message)s
datefmt=%b-%d %H:%M:%S
class=logging.Formatter

