
body {
  font-family: Gill Sans, Helvetica, Arial, sans-serif;
  font-size: 13px;
  background: #EFEBDC;
}

p {
  font-family: Palatino, Georgia, serif;
  font-size: 12px;
  line-height: 14px;
}

ul {
  font-family: Palatino, Georgia, serif;
  font-size: 12px;
  line-height: 14px;
}

dl {
  font-family: Palatino, Georgia, serif;
  font-size: 12px;
  line-height: 14px;
  margin-left: 20px;
}

ul > li {
  list-style: none;
}
ul > li:before {
  display: marker;
  content: url(dot10dark.png);
  marker-offset: 4px;
  padding-right: 4px;
}

dd {
  margin-bottom: 8px;
}

pre {
  margin-left: 26px;
  border-left: 4px solid #D8D8C8;
  padding-left: 6px;
}

h1 {
  background-image: url(dot14.png);
  background-repeat: repeat-x;
  background-position: 0% 11px;

  font-weight: normal;
  color: #443;
  padding-left: 14px;
}

h1:first-line {
  background: #EFEBDC;
}
h1:before {
  content: "\A0";
}
h1:after {
  content: "\A0";
}

h2 {
  background-image: url(dot10.png);
  background-repeat: repeat-x;
  background-position: 0% 7px;

  font-weight: normal;
  font-size: 17px;
  color: #443;
  padding-left: 20px;
}

h2:first-line {
  background: #EFEBDC;
}
h2:before {
  content: "\A0";
}
h2:after {
  content: "\A0";
}

h3 {
  font-weight: normal;
  color: #222;
}

h4 {
  font-weight: normal;
  color: #222;
}

